<div id="animation">
  {{> animation}}
  <h3 style="text-align: center; bottom:20%; left:50%"> Getting Everything Ready...</h3>
</div>

<div class='container' id='form' style='display: none;'>
  <br />
  <form novalidate action='/signup' method='POST' enctype='multipart/form-data'>

    <div class='d-flex justify-content-around' data-toggle='buttons'>
      <label class='btn btn-primary active btn-custom'>
        <input
          type='radio'
          name='accountType'
          value='isFree'
          autocomplete='off'
          checked
        />
        Free Account
      </label>
      <label class='btn btn-primary'>
        <input
          type='radio'
          name='accountType'
          value='isPremium'
          autocomplete='off'
        />
        Premium Account
      </label>
      <label class='btn btn-primary'>
        <input
          type='radio'
          name='accountType'
          value='isUnlimited'
          autocomplete='off'
        />
        Unlimited Account
      </label>
    </div>
    <hr />

    <div class='form-floating'>
      <input
        class='form-control'
        type='text'
        name='username'
        placeholder='username'
        required
      />
      <label for='username'>Username:</label>
    </div>
    <br />

    <div class='form-floating'>
      <input
        class='form-control'
        type='email'
        name='email'
        placeholder='email'
        required
      />
      <label for='email'>Email:</label>
    </div>
    <br />

    <div class='form-floating'>
      <input
        class='form-control'
        type='password'
        name='password'
        placeholder='password'
        required
      />
      <label for='password'>Password:</label>
    </div>

<br>
    <div class='form-floating'>
      <input
        class='form-control'
        type='file'
        name='image'
        placeholder='image'
      />
      <label for='companyImage'>Company Image:</label>
      <br />
    </div>

    <br />
    <button class='btn btn-primary rounded-pill' type='submit'>Register</button>
  </form>
</div>

{{#if errorMessage}}
  <div class='alert alert-danger' role='alert'>
    <div style='color: red'>
      {{errorMessage}}
    </div>
  </div>
{{/if}}

<script>
  const urlParams = new URLSearchParams(window.location.search); const value =
  urlParams.get('value'); const radioButton =
  document.querySelector(`input[name="accountType"][value="${value}"]`); if
  (radioButton) { radioButton.checked = true; } const form =
  document.querySelector("form"); const inputs = form.querySelectorAll("div");
  form.addEventListener("submit", e =>{ if(!form.checkValidity()){
  e.preventDefault() } inputs.forEach((input) => {
  input.classList.add("was-validated"); }); })
</script>