<div id='animation'>
  <lottie-player
    src='https://assets3.lottiefiles.com/private_files/lf30_y1hMez.json'
    background='transparent'
    speed='1'
    style='width: 600px; height: 600px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);'
    loop
    autoplay
  ></lottie-player>
</div>

<script>
  setTimeout(function () { var animation = document.getElementById('animation');
  var form = document.getElementById('form'); animation.style.display = 'none';
  form.style.display = 'block'; }, 3000);
</script>