<footer class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          aliquam justo id risus tincidunt, id sagittis eros commodo.</p>
      </div>
      <div class='col-md-3'>
        <h5>Links</h5>
        <ul class='list-unstyled'>
          <li><a href='#'>Home</a></li>
          <li><a href='#'>About</a></li>
          <li><a href='#'>Services</a></li>
          <li><a href='#'>Contact</a></li>
        </ul>
      </div>
      <div class='col-md-3'>
        <h5>Contact</h5>
        <address>
          123 Street, City<br />
          Country<br />
          Phone: (123) 456-7890<br />
          Email: info@example.com
        </address>
      </div>
    </div>
    <hr />
    <p class='text-center'>&copy; 2023 Your Company. All rights reserved.</p>
  </div>
</footer>