<h1>YOUR CHATS HERE</h1>

{{#each messages}}
  <p>Sender: {{sender.username}}</p>
  <p>Recipient: {{recipient.companyName}}</p>
  <p>Timestamp: {{timestamp}}</p>
  <p>Message: {{content}}</p>
{{/each}}