<div
  id='carouselExampleCaptions'
  class='carousel slide'
  data-bs-ride='carousel'
  data-bs-interval='5000'
>
  <div class='carousel-indicators'>
    <button
      type='button'
      data-bs-target='#carouselExampleCaptions'
      data-bs-slide-to='0'
      class='active'
      aria-current='true'
      aria-label='Slide 1'
    ></button>
    <button
      type='button'
      data-bs-target='#carouselExampleCaptions'
      data-bs-slide-to='1'
      aria-label='Slide 2'
    ></button>
    <button
      type='button'
      data-bs-target='#carouselExampleCaptions'
      data-bs-slide-to='2'
      aria-label='Slide 3'
    ></button>
  </div>
  <div class='carousel-inner'>
    <div class='carousel-item active'>
      <img
        src='images/teamwork-g20a8216d7_1920.jpg'
        class='d-block w-100'
        alt='...'
      />
      <div class='carousel-caption d-none d-md-block'>
        <h5>Accounting made easy</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class='carousel-item'>
      <img
        src='images/frankfurt-g231dc2455_1920.jpg'
        class='d-block w-100'
        alt='...'
      />
      <div class='carousel-caption d-none d-md-block'>
        <h5>All your information in one place</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class='carousel-item'>
      <img
        src='images/calculator-gae0137129_1920.jpg'
        class='d-block w-100'
        alt='...'
      />
      <div class='carousel-caption d-none d-md-block'>
        <h5>Managing your clients was never so easy </h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button
    class='carousel-control-prev'
    type='button'
    data-bs-target='#carouselExampleCaptions'
    data-bs-slide='prev'
  >
    <span class='carousel-control-prev-icon' aria-hidden='true'></span>
    <span class='visually-hidden'>Previous</span>
  </button>
  <button
    class='carousel-control-next'
    type='button'
    data-bs-target='#carouselExampleCaptions'
    data-bs-slide='next'
  >
    <span class='carousel-control-next-icon' aria-hidden='true'></span>
    <span class='visually-hidden'>Next</span>
  </button>
</div>

<div class='container about' id='about'>
  <div class='container pricing' id='plans'>
    <div class='row justify-content-center'>
      <h1 class='card-header text-center text-uppercase'>About Us</h1>

      <article class='mt-3' style='width: 200%;text-align:center'>Lorem ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
        id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.</article>

    </div>
  </div>
</div>

<div class='container pricing' id='plans'>
  <div class='row justify-content-center'>
    <div class='col-md-4 boxed'>
      <div class='card'>
        <div class='card-header text-center'>
          <h3>Free</h3>
        </div>
        <div class='card-body'>
          <h2 class='text-center'>$0<span>/Month</span></h2>
          <ul class='list-group'>
            <li class='list-group-item'><i class='fas fa-check'></i>
              Optimized Client/Accountant Interface</li>
            <li class='list-group-item'><i class='fas fa-check'></i>
              Manage up to 2 Clients</li>
            <li class='list-group-item'><i class='fas fa-check'></i>
              Cloud Storage 10GB</li>
            <li class='list-group-item'><i class='fas fa-times'></i>
              <b>Premium Plan</b></li>
            <li class='list-group-item'><i class='fas fa-times'></i>
              <b>Unlimited Plan</b></li>
          </ul>
          <div class='text-center mt-3'>
            <a
              href='/auth/signup?value=isFree'
              class='btn btn-primary btn-colors'
            >Choose Basic Plan</a>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4 boxed'>
      <div class='card'>
        <div class='card-header text-center'>
          <h3>Premium Plan</h3>
        </div>
        <div class='card-body'>
          <h2 class='text-center'>$50<span>/month</span></h2>
          <ul class='list-group'>
            <li class='list-group-item'><i class='fas fa-check'></i>
              Optimized Client/Accountant Interface</li>
            <li class='list-group-item'><i class='fas fa-check'></i>
              Manage up to 4 Clients</li>
            <li class='list-group-item'><i class='fas fa-check'></i>
              1TB Cloud Storage</li>
            <li class='list-group-item'><i class='fas fa-check'></i>
              Schedule Client Emails</li>
            <li class='list-group-item'><i class='fas fa-times'></i>
              <b>Unlimited Plan</b></li>
          </ul>
          <div class='text-center mt-3'>
            <a
              href='/auth/signup?value=isPremium'
              class='btn btn-primary btn-colors'
            >Choose Premium Plan</a>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4 boxed'>
      <div class='card'>
        <div class='card-header text-center'>
          <h3>Unlimited Plan</h3>
        </div>
        <div class='card-body'>
          <h2 class='text-center'>$100<span>/month</span></h2>
          <ul class='list-group'>
            <li class='list-group-item'><i class='fas fa-check'></i>
              Optimized Client/Accountant Interface</li>
            <li class='list-group-item'><i class='fas fa-check'></i>
              Unlimited Clients</li>
            <li class='list-group-item'><i class='fas fa-check'></i>
              2TB Storage</li>
            <li class='list-group-item'><i class='fas fa-check'></i>
              Schedule Client Emails</li>
            <li class='list-group-item'><i class='fas fa-check'></i>
              Dedicated Email Server</li>
          </ul>
          <div class='text-center mt-3'>
            <a
              href='/auth/signup?value=isUnlimited'
              class='btn btn-primary btn-colors'
            >Choose Ultimate Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{! login in the home page }}
  <div class='container mt-5'>

    <h1 class='card-header text-center text-uppercase'>Register Today</h1>
    <br />
    <hr />
    <form novalidate action='/signup' method='POST'>

      <div class='d-flex justify-content-around' data-toggle='buttons'>
        <label class='btn btn-primary active btn-custom'>
          <input
            type='radio'
            name='accountType'
            value='isFree'
            autocomplete='off'
            checked
          />
          Free Account
        </label>
        <label class='btn btn-primary'>
          <input
            type='radio'
            name='accountType'
            value='isPremium'
            autocomplete='off'
          />
          Premium Account
        </label>
        <label class='btn btn-primary'>
          <input
            type='radio'
            name='accountType'
            value='isUnlimited'
            autocomplete='off'
          />
          Unlimited Account
        </label>
      </div>
      <br />
      <div class='form-floating'>
        <input
          class='form-control'
          type='text'
          name='username'
          placeholder='username'
          required
        />
        <label for='username'>Username:</label>
      </div>
      <br />

      <div class='form-floating'>
        <input
          class='form-control'
          type='email'
          name='email'
          placeholder='email'
          required
        />
        <label for='email'>Email:</label>
      </div>
      <br />

      <div class='form-floating'>
        <input
          class='form-control'
          type='password'
          name='password'
          placeholder='password'
          required
        />
        <label for='password'>Password:</label>
      </div>
      <br />
      <button class='btn btn-primary rounded-pill' type='submit'>Register today</button>
    </form>
  </div>

  {{#if errorMessage}}
    <div class='alert alert-danger' role='alert'>
      <div style='color: red'>
        {{errorMessage}}
      </div>
    </div>
  {{/if}}

  <script>
    const urlParams = new URLSearchParams(window.location.search); const value =
    urlParams.get('value'); const radioButton =
    document.querySelector(`input[name="accountType"][value="${value}"]`); if
    (radioButton) { radioButton.checked = true; } const form =
    document.querySelector("form"); const inputs = form.querySelectorAll("div");
    form.addEventListener("submit", e =>{ if(!form.checkValidity()){
    e.preventDefault() } inputs.forEach((input) => {
    input.classList.add("was-validated"); }); })
  </script>

</div>

<script>
  const planLinks = document.querySelectorAll('.plan-link');
  planLinks.forEach(link => { link.addEventListener('click', (event) => {
  event.preventDefault(); const selectedPlan = link.dataset.plan;
  window.location.href = `/auth/signup?plan=${selectedPlan}`; }); });
</script>