<h1>{{userClients.companyName}}</h1>
<hr />

<a href='/clients/edit/{{id}}' style='font-size: large;'>Edit Client</a>

<br />
<br />

{{!-- <form action='/books/delete/{{id}}' method='POST'>
  <button>
    Delete
  </button>
</form> --}}

{{#if imageUrl}}
  <img src='{{imageUrl}}' alt='' />
{{/if}}

<hr />
<a href='/user/dashboard'>Back</a>