<div class='container'>
  <h1>New Client</h1>

  <form novalidate action='/clients/new' method='POST'>

    <div class='form-floating'>
      <input
        class='form-control'
        type='text'
        name='companyName'
        placeholder='username'
        required
      />
      <label for='companyName'>Company:</label>
    </div>

    <br />

    <div class='form-floating'>
      <input
        class='form-control'
        type='email'
        name='email'
        placeholder='email'
        required
      />
      <label for='email'>Email:</label>
    </div>
    <br />

    <div class='form-floating'>
      <input
        class='form-control'
        type='password'
        name='password'
        placeholder='password'
        required
      />
      <label for='password'>Password:</label>
    </div>
    <br />
    <div class='form-floating'>
      <input
        class='form-control'
        type='text'
        minlength='9'
        maxlength='9'
        name='nipc'
        required
      />
      <label for='nipc'>NIF:</label>
    </div>
    <br />
    <div class='form-floating'>
      <input
        class='form-control'
        type='text'
        minlength='11'
        maxlength='11'
        name='niss'
        required
      />
      <label for='niss'>NISS:</label>
    </div>
    <br />
    <div class='form-floating'>
      <input
        class='form-control'
        type='text'
        name='address'
        placeholder='address'
        required
      />
      <label for='address'>Address:</label>
    </div>
    <br />
    <button class='btn btn-primary' type='submit'>Register</button>

    <a
      type='button'
      class='btn btn-secondary btn-default'
      href='/user/dashboard'
    >Back</a>

  </form>
</div>

{{#if errorMessage}}
  <div class='alert alert-danger' role='alert'>
    <div style='color: red'>
      {{errorMessage}}
    </div>
  </div>
{{/if}}