body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px; /* fix nav padding */
}

.title a {
  font-size: 40px;
}
/* .container .col {
  padding: 3rem 2rem;
} */

.navbar-brand {
  font-size: 35px;
  text-shadow: 1px 1px #0163c4c7;
}
.navbar-brand span {
  color: rgba(255, 94, 0, 0.916);
  font-size: 35px;
  text-shadow: 1px 1px #0163c4c7;
}

.navbar-nav {
  font-size: 25px;
}

.section-padding {
  padding: 100px 0;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  bottom: 400px;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  text-shadow: 2px 2px #000000c7;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.container h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;

  text-shadow: 1px 1px white;
}

.pricing {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* .boxed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.boxede {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .boxed {
  box-shadow: 0px 0px 50px #a0a0a0;
} */

.btn-custom {
  background-color: #f16225;
  color: #ffffff;
}

.btn-colors {
  transition: transform 0.2s;
  border-color: #f16225;
  background-color: #f16225;
  color: #ffffff;
}

.btn-colors:hover {
  border-color: azure;
  transform: scale(1.2);
  color: #f16225;
  background-color: azure;
}

.user-info {
  color: #f16225;
  font-size: medium;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-caption h5 {
  text-align: center;
}

.client-logo {
  border: 6px outset #f16225c6;
}
