@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,200;1,400&display=swap');

body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px; /* fix nav padding */
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

footer {
  padding-top: 2rem;

  left: 0;
  bottom: 0;
  width: 100%;
  height: auto; /* Set the height of the footer */
  background-color: #5b5d5e52;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-bg-color {
  background-color: #f16225c6;
}

.title a {
  font-size: 40px;
}
/* .container .col {
  padding: 3rem 2rem;
} */

.navbar-brand {
  font-size: 35px;
  text-shadow: 1px 1px #0163c4c7;
}
.navbar-brand span {
  color: rgba(255, 94, 0, 0.916);
  font-size: 35px;
  text-shadow: 1px 1px #0163c4c7;
}

.navbar-nav {
  font-size: 20px;
}

.section-padding {
  padding: 100px 0;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  bottom: 400px;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  text-shadow: 1px 1px #ffffff;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.container h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;

  text-shadow: 1px 1px white;
}

.pricing {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* .boxed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.boxede {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .boxed {
  box-shadow: 0px 0px 50px #a0a0a0;
} */

.btn-custom {
  background-color: #f16225;
  color: #ffffff;
}

.btn-colors {
  transition: transform 0.2s;
  border-color: #f16225;
  background-color: #f16225;
  color: #ffffff;
}

.btn-colors:hover {
  border-color: azure;
  transform: scale(1.2);
  color: #f16225;
  background-color: azure;
}

.user-info {
  color: #f16225;
  font-size: medium;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-caption h5 {
  text-align: center;
}

.client-logo {
  border: 6px outset #f16225c6;
}

.zoom {
  padding: 20px;
  transition: transform 0.2s; /* Animation */
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
