<h1>Dashboard</h1>

{{#if currentUser}}
  <div class='container'>
    <br />
    <h2>Client list</h2>
    <br />
    {{#each user}}
      {{#each this.userClients}}

        <div class='col-sm'>
          <a
            type='button'
            class='btn btn-secondary btn-default'
            href='/clients/{{_id}}'
          >{{this.companyName}}
          </a>
        </div>
        <br />

      {{/each}}
    {{/each}}

    <a
      type='button'
      class='btn btn-secondary btn-default'
      href='/clients/new'
    >New Client
    </a>
  </div>
{{/if}}