<div class='container'>
  <h2>Dashboard</h2>

  <div class='row'>
    <div class='col'>
      <div
        class='btn-group-vertical'
        role='group'
        aria-label='Vertical button group'
      >
        <a type='button' class='btn btn-primary' href='/clients/new'>Add a new
          client</a>
      </div>
    </div>
    <div class='col'></div>
    <div class='col'></div>
  </div>
</div>